@define backColorStr: #d97f7f;
@define foreColorStr: #f4a7a7;
@define backColorAgi: #a4e183;
@define foreColorAgi: #c3f4a8;
@define backColorNone: #e6cae9;
@define foreColorNone: #f6e6f7;
@define backColorInt: #6b8dd2;
@define foreColorInt: #a2bef5;
.HandRoot {
    width: 100%;
    height: 100%;
}

#HandCardContainerBackground {
    vertical-align: bottom;
    width: 100%;
}

#HandCardContainer {
    vertical-align: bottom;
    horizontal-align: center;
    flow-children: right;
    /*margin-bottom: 300px;*/
}

.CardRoot:hover {
    z-index: 1;
}

.CardRoot {
    width: 234px;
    height: 320px;
    border-radius: 5px;
    padding: 10px;
    background-color: black;
    pre-transform-scale2d: 0.8;
    z-index: 0;
    box-shadow: foreColorNone 1px 1px 10px 0px;
}

.MinionTooltipRoot .CardRoot {
    pre-transform-scale2d: 1;
    /*opacity: 0.5;*/
}

.MinionTooltipRoot .CardRoot:hover {
    opacity: 1;
}

.State_Greyout {
    wash-color: grey;
}

.MainAttributeStrength .CardRoot {
    box-shadow: foreColorStr 1px 1px 10px 0px;
}

.MainAttributeAgility .CardRoot {
    box-shadow: foreColorAgi 1px 1px 10px 0px;
}

.MainAttributeIntellect .CardRoot {
    box-shadow: foreColorInt 1px 1px 10px 0px;
}

.MainAttributeNone .CardRoot {
    box-shadow: foreColorNone 1px 1px 10px 0px;
}

.CardRoot:hover {
    pre-transform-scale2d: 1;
    z-index: 1;
}

.CardContent {
    width: 214px;
    height: 300px;
    padding: 2px;
    align: center center;
    border-radius: 3px;
    flow-children: down;
    background-color: backColorNone;
}

.MainAttributeStrength .CardContent {
    background-color: backColorStr;
}

.MainAttributeAgility .CardContent {
    background-color: backColorAgi;
}

.MainAttributeIntellect .CardContent {
    background-color: backColorInt;
}

.CardTitlePanel {
    width: 200px;
    height: 24px;
    /*border: 2px solid red;*/
    vertical-align: top;
    horizontal-align: center;
    margin-top: 5px;
    border-radius: 8px;
    background-color: foreColorNone;
    padding-left: 10px;
    padding-right: 5px;
    border: 2px solid black;
}

#CardCost {
    flow-children: right;
    vertical-align: center;
    horizontal-align: right;
    margin-right: 5px;
}

#CardCost .NoCost {
    visibility: collapse;
}

#CardCost_Attributes {
    vertical-align: center;
    margin-right: 3px;
    flow-children: right;
}

#CardCost_Attributes Image {
    width: 13px;
    height: 13px;
}

.CardCost_ManaHolder {
    vertical-align: center;
    border-radius: 4px;
}

#CardCost_Mana {
    font-size: 20px;
    font-weight: bold;
    color: black;
    vertical-align: center;
    text-align: center;
    min-width: 16px;
}

#CardName {
    vertical-align: center;
}

.MainAttributeStrength .CardTitlePanel {
    background-color: foreColorStr;
}

.MainAttributeAgility .CardTitlePanel {
    background-color: foreColorAgi;
}

.MainAttributeIntellect .CardTitlePanel {
    background-color: foreColorInt;
}

.CardTypePanel {
    width: 200px;
    height: 24px;
    vertical-align: top;
    horizontal-align: center;
    margin-top: -2px;
    border-radius: 8px;
    background-color: foreColorNone;
    padding-left: 10px;
    padding-right: 5px;
    border: 2px solid black;
    flow-children: right;
}

#TimingImage {
    width: 15px;
    height: 15px;
    margin-right: 3px;
    vertical-align: center;
}

#CardType {
    vertical-align: center;
}

.MainAttributeStrength .CardTypePanel {
    background-color: foreColorStr;
}

.MainAttributeAgility .CardTypePanel {
    background-color: foreColorAgi;
}

.MainAttributeIntellect .CardTypePanel {
    background-color: foreColorInt;
}

.CardIllusionPanel {
    width: 186px;
    height: 144px;
    horizontal-align: center;
    margin-top: -2px;
    opacity: 0.9;
}

#CardIllusion {
    width: 186px;
    height: 144px;
    border: 3px solid black;
}

.CardDescriptionPanel {
    width: 186px;
    margin-top: -2px;
    horizontal-align: center;
    height: fill-parent-flow(1.0);
}

.CardDescription_Ability_Lore {
    background-color: foreColorNone;
    height: 90px;
    width: 100%;
    border: 2px solid black;
    padding: 5px;
    flow-children: down;
}

.MainAttributeStrength .CardDescription_Ability_Lore {
    background-color: foreColorStr;
}

.MainAttributeAgility .CardDescription_Ability_Lore {
    background-color: foreColorAgi;
}

.MainAttributeIntellect .CardDescription_Ability_Lore {
    background-color: foreColorInt;
}

#CardAbilities {
    flow-children: down;
}

.ActiveAbilityLabel {
    border: 1px solid red;
}

.CardDescription_ExtraMessage {
    height: 20px;
    background-color: transparent;
    margin-top: 92px;
    flow-children: right;
}

#IllusionArtist {
    margin-left: 5px;
}

#CardLore .Empty {
    visibility: collapse;
}

.MinionAttackPanel {
    background-color: foreColorNone;
    height: 23px;
    width: 50px;
    border-radius: 3px;
    border: 2px solid black;
    vertical-align: bottom;
    horizontal-align: right;
    margin-bottom: 10px;
    margin-right: 5px;
    visibility: collapse;
}

.MinionCard .MinionAttackPanel {
    visibility: visible;
}

.MainAttributeStrength .MinionAttackPanel {
    background-color: foreColorStr;
}

.MainAttributeAgility .MinionAttackPanel {
    background-color: foreColorAgi;
}

.MainAttributeIntellect .MinionAttackPanel {
    background-color: foreColorInt;
}

.AttackDefLabel {
    vertical-align: center;
    horizontal-align: center;
    color: black;
    font-size: 16px;
}


/*==============================================================*/

.DeckPanel {
    vertical-align: bottom;
    horizontal-align: right;
}

.EnemyDeckPanel {
    vertical-align: top;
    horizontal-align: right;
    transform: rotateZ( -90deg);
    margin-top: 20px;
}

.DeckImage {
    width: 200px;
    height: 240px;
}

.DeckCount {
    vertical-align: center;
    horizontal-align: center;
    color: white;
    transform: rotateZ( -21deg);
    font-weight: bold;
    font-size: 50px;
    margin-left: 80px;
}

.text-h1 {
    font-size: 16px;
    color: black;
}

.text-h2 {
    font-size: 14px;
    color: black;
}

.text-h3 {
    font-size: 12px;
    color: black;
}

.text-h4 {
    font-size: 10px;
    color: black;
}

.CardCount_1 {
    margin-left: -50px;
}

.CardCount_2 {
    margin-left: -50px;
}

.CardCount_3 {
    margin-left: -50px;
}

.CardCount_4 {
    margin-left: -50px;
}

.CardCount_5 {
    margin-left: -50px;
}

.CardCount_6 {
    margin-left: -80px;
}

.CardCount_7 {
    margin-left: -100px;
}

.CardCount_8 {
    margin-left: -100px;
}

.CardCount_9 {
    margin-left: -100px;
}

.CardCount_10 {
    margin-left: -100px;
}

.CardCount_11 {
    margin-left: -100px;
}

.CardCount_12 {
    margin-left: -100px;
}

.CardCount_13 {
    margin-left: -100px;
}

.CardCount_14 {
    margin-left: -100px;
}