.HandRoot
{
    width:100%;
    height:100%;
}

#HandCardContainerBackground{

    vertical-align: bottom;
    width:100%;
    min-height:210px;
    padding-top:15px;
}

#HandCardContainer
{
    vertical-align: bottom;
    horizontal-align:center;
    flow-children:right;
    margin-bottom:-24px;
}

.HandCard :hover{
    background-color:wheat;
}

.HandCard {
    background-color:red;

    vertical-align: bottom;
    margin-left:5px;
    margin-right:5px;

    width: 150px;
	height: 210px;
	border-radius: 9px;
}