.Resources {
    background-image:url("file://{resources}/images/custom_game/cards/00001.png");
    background-image:url("file://{resources}/images/custom_game/cards/00002.png");
    background-image:url("file://{resources}/images/custom_game/cards/00003.png");
    background-image:url("file://{resources}/images/custom_game/cards/00004.png");
    background-image:url("file://{resources}/images/custom_game/cards/00005.png");
    background-image:url("file://{resources}/images/custom_game/card/card_cost_str.png");
    background-image:url("file://{resources}/images/custom_game/card/card_cost_agi.png");
    background-image:url("file://{resources}/images/custom_game/card/card_cost_int.png");
}