.Resources {
    background-image:url("file://{resources}/images/custom_game/cards/00001.png");
    background-image:url("file://{resources}/images/custom_game/cards/00002.png");
    background-image:url("file://{resources}/images/custom_game/cards/00003.png");
}
